@import "https://www.byui.edu/prebuilt/stylenew/css/global.min.css";

/*We are hiding the whole page load and then showing it when it's completely loaded. 
 * This is to help hide latency on other devices that causes things to look funny until 
 * the necessary stuff is loaded. This is reenabled as the very last item in the 
 * javascript file found in the theme.
 */
 
#siteWrapper { display: none; } 


.accessibility { display: none; }

.nav-pills>li.selected>a, .nav-pills>li.selected>a:hover, .nav-pills>li.selected>a:focus {
    color: #fff;
    background-color: #0076B6;
}
#welcomeBackBar {
    background-color: transparent;
    float: right;  
    margin: 0 !important;
    padding: 8px 0 !important;
	z-index: 5000;
}
#welcomeBackBar div#userWelcome {
    width: auto !important;
    color: #000;
    font-size: 10pt;
    text-align: right;
    padding: 9px 0 10px 0;
    color: #FFF;
}
#welcomeBackBar div#userWelcome .message {
    display: none;
}
#userWelcome ul, #userWelcome li {
    display: inline;
	padding: 0;
	margin: 0;
}
#welcomeBackBar div#userWelcome a {
    color: gray !important;
}
#welcomeBackBar div#userWelcome ul li:nth-child(2) {
	display: none;
}
#userWelcome ul:before {
    content: "(";
}
#userWelcome ul:after {
    content: ")";
}
/* #logout {
	display: none;
} */

.userInumber {
	font-size: 13px;
	color: gray;
}

#headerTabs { padding: 0; margin: 0px auto; }
#headerTabs { margin-bottom: 10px; }
#headerTabs ul li {
    text-transform: uppercase;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #ffffff;
	font-size: 11px;
	font-weight: 600;
}
.navbar-static-top { z-index: 100 !important; }
#headerTabs ul li.selected {
	border: none;
}
#boot-wrapper ul { margin:0; }
#boot-wrapper {  }
#headerTabs.navbar { min-height: auto; }
#boot-wrapper .nav-pills>li>a { border-radius: 0px; }

#moreDropdown a.dropdown-toggle {
	border-right: 1px solid #e7e7e7;
}

#moreDropdown > a > span.caret { position: relative; left: 5px; top: -1px; }

.pHead {
	background: #0076B6;
	padding: 0;
	margin: 0;
	border-bottom: #E5E5E5 solid 1px;
	margin-bottom: 1.5em;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.pHead div { /*position of wrench icon*/
	top: 0.8em;
	/* display: none; */
}

.pHead h3 {
	padding: 0px;
	margin: 0;
	font-size: 100%;
	height: auto;
	color: #FFF;
	padding: 9px;
	display: block;
}

.pHead a, .pHead a:link, .pHead a:visited {
    color: #FFF !important;
    text-decoration: none;
    font-weight: bolder;	
    padding-left: 10px;
    color: Black;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.portlet, .sideSection {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
}
.portlet, .sideSection,  #quickLinks {
	border: 1px solid #E5E5E5;
	margin-bottom: 2.5em;
	/* box-shadow: 0px 8px 10px -3px grey; */
	box-shadow: 0px 7px 8px -5px grey;
}
.pContent {
	padding: 10px;
}
.help {
	display: none;
}

#pageTitle h2 #contextName {
    font-size: 137.5%;
    font-weight: bold;
}
#pageTitle h2 a, #pageTitle h2 a:link, #pageTitle h2 a:visited {
    color: #000;
    text-decoration: none;
}
#pageTitleButtons {
    background-color: #ececec;
    border: 1px solid #03534c;
    border-radius: 6px 6px 6px 6px;    
    margin-right: 10px;  
    padding: 4px 0 0 0;
    text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
}
#pageTitleButtons a, #pageTitleButtons a:visited, #pageTitleButtons a:link {
    color: #03534c;
    display: block;
    float: left;
    margin: 0 5px 0 5px;
}
#btnPrintView img {
	position: relative;
	bottom: 4px;
}

#sideBar div.sideSection {
	background-color: #f5f5f5;
    overflow: hidden;
}
ul#pagePortlets {
    margin: 0;
    padding-left: 0;
}
#contextPages {
	margin: 0;
	padding: 0;
}
#contextPages li.currentPage a {
    color: #000;
}
#contextPages li a, #contextPages li a:link, #contextPages li a:visited {
    color: #000;
    text-decoration: none;
    padding: 7px 0 7px 13px;
    display: block;
}
#contextPages li {
    padding: 0;
    margin: 0;
    background-image: none;
    background-color: #eee;
    border-bottom: solid 1px #FFF;
}
#contextPages #pagePortlets li {
    border: none;
}
#pagePortlets li a {
    padding: 2px 5px 6px 35px !important;
}
#pagePortlets li {
    list-style: none;
    background: #ccc url(https://www.byui.edu/prebuilt/stylenew/images/leftNav/blue-arrow_5x9.png) no-repeat 22px 8px;
}
.sideSection h2 {
	display: none;
}
#contextPages li.currentPage {
    background-color: #6C9CD4;
}
#contextPages li.currentPage > a {
    color: white;
    font-size: larger;
}
.customAlert {
	margin: 10px;
}

.pt_AcademicInformationBYUI > .pContent .pSection > table > tbody > tr {
	line-height: 2em;
}

.adminPortlet, #mainCrumbs { padding-top: 14px; padding-bottom: 14px; }

.replaceH1 {
    font-size: 10px;
    font-weight: 100;
    clear: both;
    width: 970px;
    margin: 0 auto;
}

.hint {
    background-color: #eee;	
    font-size: 85%;   
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	margin: 10px 0;
	
}
.CS .GrayBordered, .hint {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	display: block;
}

.aspNetDisabled {
	color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
td select {
	margin: 5px 0;
}
#quickLinks li, #manageLinks li {
	list-style: none;
}
#quickLinks {
	padding: 10px;
	border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#quickLinks h3 {
	padding: 10px 0;
}
#globalLinks {
	padding: 0;
}

#sideBar .manageContext a, #sideBar .manageContext a:link, #sideBar .manageContext a:visited {
    text-decoration: none;
    color: #666;
    font-style: italic;
    padding: 3px 0 3px 22px;
    background: transparent url(/ICS/UI/Common/images/PortletImages/Icons/folder_edit.gif) 0 6px no-repeat!important;
}
#sidebar .usageStats a, #sideBar .usageStats a:link, #sideBar .usageStats a:visited {
    text-decoration: none;
    color: #666;
    font-style: italic;
    padding: 3px 0 3px 22px;
    background: transparent url(/ICS/UI/Common/images/PortletImages/Icons/icon_graph_16.gif) 0 2px no-repeat!important;
}
#sideBar .addPage a, #sideBar .addPage a:link, #sideBar .addPage a:visited {
    text-decoration: none;
    color: #666;
    font-style: italic;
    padding: 3px 0 6px 30px;
    background: transparent url(/ICS/UI/Common/images/PortletImages/Icons/page_add.gif) 10px 6px no-repeat!important;
}

[id$="_ddlCourseCode_OptionList"] {
	left: 0px !important;
	top: 0px !important;	
	width: 20% !important;
	height: 100% !important;
	display: block !important;
	
	overflow-x: scroll !important;
	overflow-y: auto !important;
}

input[type="radio"], input[type="checkbox"] {
	vertical-align: middle !important;
	margin: 5px 6px 6px 5px !important;
}

.pToolbar .menu {
    position: absolute;
    visibility: hidden;
    z-index: 2;
    top: 1.5em;
    left: 0
}
.pToolbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    border-bottom: 1px solid #ccc
}
.pToolbar ul li {
    position: relative;
    margin: 0
}
.pToolbar li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none
}
.pToolbar a,
.pToolbar a:link,
.pToolbar a:visited {
    display: block;
    text-decoration: none;
    color: #fff;
    background: #4870ac;
    padding: 0 1em 0 1em;
    border: none;
	float: left;
	border-right: solid 1px #fff
}
.pToolbar .menu a.hasKids {
    background: #4870ac url(/ICS/UI/Common/images/controlimages/toolbar_rightarrow.gif) center right no-repeat;
    cursor: default
}


.pToolbar {
    background: #4870ac;
    position: relative;    
    z-index: 2;
    color: #fff;   
}
.pToolbar .pTool {
    z-index: 2;
    position: relative;   
    height: 1.5em
}

.pToolbar li.off a,
.pToolbar li.off a:link,
.pToolbar li.off a:visited,
.pToolbar li.off a:hover,
.pToolbar li.off a.active,
.pToolbar .pTool li.off a:hover,
.pToolbar .pTool li.off a.active {
    background-color: #b8bcc4;
    color: #6e6e6e
}
.SubTable, .SubTable textarea {
	width: 100%;
}
#PORTLETGRID > div.pColumn.adminPortlet > div.portlet.pageSettings > div > div > div > div.modalHeading > p.title {
	font-size: large;
	margin: 10px 0;
}
.Bookmarks .pSection div > a {
	display: block;
	margin: 10px 0;
}
.Bookmarks .pSection div > a img {
	position: relative;
	right: 5px;
}
.Bookmarks table tbody.ghead {
	background-color: #f5f5f5;
}

.modalButtons {
	margin-bottom: 1.5em;
	display: block;
}
.modalButtons .saveButtonContainer {
	float:left;
	padding-right: 10px;
}


	body.tab_Home #portlets {
		width: 100% !important;
	}
	
	body.tab_Home #adminBar_menuAdmin {
		margin:5px 0 10px 0;
		clear: both;
	}
	
	body.tab_Home #sideBar {
		top:0;
		width:auto;
		margin:5px 0 0 0;
		overflow:visible !important;
		padding: 0;
	}

	
	body.tab_Home #customSideBarBefore_ProxyLoginSideBarLoggerControl_pnlProxyLogin, body.tab_Home .contexts, body.tab_Home #quickLinks, body.tab_Home #pageTitle, body.tab_Home #pageTitleButtons, body.tab_Home .sideSection.proxySideBar {
		display: none;
	}
	.proxySideBar {
		padding: 20px 0;
	}
	.feedbackMessage {
		padding: 10px;
	}
	
	body.tab_Home #sideBar div.sideSection#thisContext {
		position:relative;
		overflow: visible !important;
		z-index: 9999 !important;		
	}
	
	body.tab_Home .sideSection h2 {
	  display:block;
	  padding: .85em 1em !important;
	  background: #777;
	  border-radius: .2em .2em 0 0;
	  background-color: #056cb6 !important;	 
	  color: #fff;
	  font-size: inherit;
	  padding-right: 2.5em;
	  border: 0;
	  margin: 0;
	  border-radius: 3px;
	  text-indent: 0.01px;
	  text-overflow: '';	
	  cursor:pointer;
	}
	
	body.tab_Home .sideSection {
		-webkit-box-shadow: 0 0 0 0;
		box-shadow: 0 0 0 0;
	}
	
	body.tab_Home .sideSection h2:hover {
		-webkit-border-radius: 3px 3px 0 0 !important;
		border-radius: 3px 3px 0 0 !important;
	}
	
	body.tab_Home #contextPages {
		-webkit-box-shadow: 0 0 25px -3px #454545;
		box-shadow: 0 0 25px -3px #454545;
	}
	
	body.tab_Home #contextPages {
	  display:none;
	  position:absolute;
	  top:100%;
	  width:100%;
	  margin-top: 0;
	  background: #777;
	  min-width: 12em;
	  padding: 0;
	  -webkit-border-radius: 0 0 5px 5px;
	  border-radius: 0 0 5px 5px;
	  
		li {
		  list-style-type: none;
		  a {
			text-decoration: none;
			padding: .5em 1em;
			display: block;			
		  }
	   }	   	  
	}
	
	body.tab_Home #contextPages li {
		border: 0 !important;
		background-color:#FFF;
		list-style: none;
	}
	body.tab_Home #contextPages li:last-child {
		-webkit-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
	}
	
	body.tab_Home #contextPages li.currentPage {
		background-color: #6C9CD4 !important;
	}

	
	.pageNameUpper {
		text-transform: uppercase;
		padding-right: 35px;
		padding-left: 5px;		
	}
	
	.replaceH1 {
		font-size:large; 
		font-weight:100;
		clear: both;
		width:970px;
		margin:0 auto;
		margin-top: 15px;
	}
	
	body.tab_Home #thisContext::before,
	body.tab_Home #thisContext::after {
	  content: "";
	  position: absolute;
	  pointer-events: none;
	}

	body.tab_Home #thisContext::after { /*  Custom dropdown arrow */
	  content: "\25BC";
	  height: 1em;
	  font-size: 1em;
	  line-height: 1;
	  right: 1em;
	  top: 50%;
	  margin-top: -.5em;
	}

	body.tab_Home #thisContext::before { /*  Custom dropdown arrow cover */
	  width: 3em;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  border-radius: 0 3px 3px 0;
	}


	body.tab_Home #thisContext::before {
	  background-color: rgba(0,0,0,.15);
	}

	body.tab_Home #thisContext::after {
	  color: rgba(0,0,0,.4);
	}
	body.tab_Home #portlets, body.tab_Home .pContent {
		padding: 0;
	}
	body.tab_Home .pContent {
		padding: 0;
	}
	body.tab_Home .portlet {		
		padding: 10px;
	}
	
.breadcrumbs {
	padding: 10px;
}

/* #mainLayout input[type=text]:not(searchSection) {
	margin: 5px 0;
}
 */
.pt_CourseSchedulesBYUI table ul {
	margin: 0;
	padding: 0;
}
.pt_CourseSchedulesBYUI table ul li{
	list-style: none;
}
	

#foot { display: none; }


footer { clear: both; }


/*CSS for new Basic and Advanced Search for Registration*/
.courseSearchForm {
	width: auto;
	padding: 30px;
}
.courseSearchForm .formlabel{
	clear:left;
	display:block;
	float:left;
	margin:0 0 1em 0;
	padding:0 0.5em 0 0;
	text-align:right;
	width:8em;
	position: relative;
	top: 8px;
}

.courseSearchForm .forminput{
	float:left;
	margin:0 0.5em 0.5em 0;
	padding: 5px;
	border-radius: 3px;
	border: solid 1px lightgray;
}

.courseSearchForm .formwarning{
	clear:left;
	float:left;
	margin:0 0.5em 1em 0;
}

.courseSearchForm select {
	width: 260px;
}

.courseSearchForm .contains {
	width: 200px !important;				
}

.courseSearchForm .smallbox {
	width: 112px !important;
}
.courseSearchForm .nonselectbox {
	width: 100px !important;
}
.courseSearchForm .centerLabel {
	clear: none;
	width: 15px;
	padding-right: 14px;
}
.courseSearchForm .formlabel.dummylabel {
	visibility: hidden;
}

.courseSearchForm .forminput.contains.blntxtbox {
	padding: 6px;
}

.courseSearchForm .noborder {
	border: none;
}

.courseSearchForm .tabbox:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
	 }
.courseSearchForm .clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.courseSearchForm .clearCourseSearch {
	clear: both;
	display: block;
	padding: 1em 0 1.5em 8.5em;
}

.courseSearchForm .help {
	width: 16px;
	height: 16px;
	display: block;
	background: url(/ics/clientconfig/htmlcontent/images/help.png) no-repeat;
	float: left;
	position: relative;
	top: 7px;
	cursor: pointer;
}			
.courseSearchForm .moreSearch {
	clear: both;
	padding: 10px;
	
}

.courseSearchForm div.searchRadiobox span {
	padding-left: 0;
}

.courseSearchForm div.searchRadiobox span input[type=radio] {
	display: none;
}

.courseSearchForm div.searchRadiobox span label:before {
	border-radius: 8px;
}

.courseSearchForm div.searchRadiobox span input[type=radio]:checked + label:before {
	content: "\2022";
	color: #f3f3f3;
	font-size: 30px;
	text-align: center;
	line-height: 18px;
}

.courseSearchForm div.searchCheckbox {
	float: left;				
}

.courseSearchForm div.searchCheckbox span label, .courseSearchForm div.searchRadiobox span label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

.courseSearchForm div.searchCheckbox span label:before, .courseSearchForm div.searchRadiobox span label:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.courseSearchForm div.searchCheckbox span input[type=checkbox] {
	display: none;
}

.courseSearchForm div.searchCheckbox span label:before {
	border-radius: 3px;
}

.courseSearchForm div.searchCheckbox span input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
	line-height: 15px;
}

.courseSearchForm .searchCheckbox span {
	display: inline-block;
	width: 150px;
	padding: 10px 0;
}
			
.courseSearchForm hr {			
	display: block;
	border-style: dashed;
}

.courseSearchForm .searchSection {
	margin: 1.5em 0;
}

.courseSearchForm .moreSearch {
	clear: both;
	padding: 10px 0;
	
}
.courseSearchForm .formlabel.dummylabel {
	visibility: hidden;
}

.courseSearchForm .searchButton {
	float: left;
	padding: 4px;
	margin-right: 15px;	
	width: 140px;
	height: 38px;
	text-transform: uppercase;
	font-size: 19px;
}

.convertToLink {
	border: none;
	background: transparent;
	color: blue;
}
.convertToLink:hover {
	text-decoration: underline;
	color: blue;
}
/*This button is the advanced search button on the course search tab*/
#pg0_V_tabSearch_lnkAdvSearch {
	display: block;
	margin-top: 10px;
}

.backToBasicSearch {
	background-color: 
	color: #FFF;
}


/*JENZABAR CSS COLUMN LAYOUT FOR REARANGE*/
.PageManager.DropContainer {
    background-color: gray;
    padding: 2px
}
.pColumn.ui-state-hover {
    border: none
}
.drag-disable {
    opacity: .1;
    pointer-events: none;
    cursor: default
}
.blog_style_header .pColumn1 .dragList,
.side_by_side_with_header .pColumn1 .dragList {
    padding-bottom: 0
}
.dragList {
    padding-bottom: 250px;
    margin: 10px
}
.dragList.empty-List {
    height: 800px;
    background-color: #ececec
}
.dragList>.ui-state-highlight {
    height: 200px;
    margin: 0 0 20px
}
.dragList>.drop-placeHolder {
    height: 200px;
    margin: 0 0 20px
}
.dragList.ui-sortable {
	list-style: none;
}
.rePositionItem {
    background-color: #fff!important;
    cursor: move;
    margin: 20px 0
}
.rePositionItem>.portlet>.dragBar {
    background: scroll 10px 18px #edf3ff;
    display: block;
    position: relative
}
.rePositionItem>.portlet>.dragBar p {
    background: url("/ICS/UI/Common/Images/PortletImages/Icons/16/DragDrop.png") no-repeat scroll 10px 6px transparent;
    padding: 5px 0 5px 30px;
    font-size: 13px;
    margin: 0
}
.pColumn.ui-droppable {
    width: 299px!important
}
.rePositionItem .drag-header {
    background-color: #ececec;
    border: none;
    padding: 10px 0 10px 0;
    pointer-events: none
}
.rePositionItem .drag-header h3 {
    padding: 0
}
.rePositionItem .drag-header a {
    color: #000!important;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none!important;
    padding-left: 10px;
    pointer-events: none
}
.portlet.drag-Content {
    margin: 0!important;
    border: none;
    border: 2px dashed #acacac
}
.actionsMenu .drag-title {
    color: #7a7d81;
    display: block;
	
}
.actionsMenu .drag-title a {
    color: gray!important;
    cursor: pointer;
    display: inline;
    float: none!important;
    margin: 0!important;
    padding: 0;
    display: inline;
}
.settingsMenu.drag-menu {
    height: 45px
}
.actionsMenu.drag-menu {
    background: #ecf3fe url("/ICS/UI/Common/Images/DragDrop.png") no-repeat scroll 30px 1px !important;
    padding: 0 0 4px 70px !important;
    background-color: #ecf3fe
}
.actionsMenu.drag-menu #cancelRearange {
    font-weight: bold
}
.actionsMenu.drag-menu #saveRearange {
    margin-right: 10px
}
.actionsMenu.drag-menu a {
    background-image: none!important;
    margin-left: 5px;
    padding: 0
}
.rearrange.error {
    border: 1px solid red;
    display: block;
    padding: 2px 25px;
    width: 93%;
    color: #d8000c;
    background: url("/ICS/UI/Common/Images/PortletImages/Icons/16/error.png") 2px 3px no-repeat #f8d4d4
}
.pColumnFoot.draggable {
    background: blue;
    height: 200px
}

/*JENZABAR ADMINBAR*/
#adminBar_menuAdmin{
	margin-bottom: 1em;
}
.adminMenu .settingsMenu {
    background: url(/ICS/UI/Common/Images/PortletImages/Icons/page_admin_wrench.gif) no-repeat 5px 10px rgba(0,0,0,0);
    background-color: #03534c;
    display: block;
    width: 24px;
    height: 35px;
    float: left;
}

.adminMenu .settingsMenu {
    background: url("/ICS/UI/Common/Images/PortletImages/Icons/page_admin_wrench.gif") no-repeat 5px 10px rgba(0, 0, 0, 0);
    background-color: #03534c;
    display: block;
    width: 24px;
    height: 35px;
    float: left
}
.adminMenu .settingsMenu a {
    display: block;
    height: 20px;
    margin-top: 4px
}
.adminMenu .actionsMenu {
    padding: 7px 0;
    background: #ecf3fe
}
.adminMenu .actionsMenu a {
    color: #004a80!important;
    cursor: pointer;
    text-decoration: underline;
    padding: 0 0 14px 20px
}
.actionsMenu #adminBar_pageOptionsLink {
    background: url("/ICS/UI/Common/Images/PortletImages/Icons/16/PageOptions.png") 0 2px no-repeat;
    margin-left: 20px
}
.actionsMenu #adminBar_pageAccessLink {
    background: url("/ICS/UI/Common/Images/PortletImages/Icons/16/users.png") 0 4px no-repeat;
    margin-left: 20px
}
.actionsMenu #adminBar_pageSettingLink {
    background: url("/ICS/UI/Common/Images/PortletImages/Icons/16/cog_edit.png") 0 2px no-repeat;
    margin-left: 20px
}
.actionsMenu #adminBar_pageRearangeLink {
    background: url("/ICS/UI/Common/Images/PortletImages/Icons/16/rearrange.png") 0 0 no-repeat;
    margin-left: 20px
}
.actionsMenu #adminBar_pageLayoutLink {
    background: url("/ICS/UI/Common/Images/PortletImages/Icons/16/layouts.png") 0 0 no-repeat;
    margin-left: 20px
}

/*JENZABAR OPTIONS MENU*/

a.availablePage,
a.unavailablePage,
a.availableLayout {
    display: block;
    padding: 10px 20px 10px 15px;
    text-decoration: none;
    border: none;
    border: 1px solid transparent;
    cursor: default
}
a.availablePage:hover,
a.availableLayout:hover {
    border-radius: 6px;
    margin: 0;
    border: 1px solid #003663;
    background-color: #e5eefe;
    cursor: pointer;
    text-decoration: none
}
a.availableLayout:hover {
    border-radius: 0
}
.availablePage h2,
a.availableLayout h2 {
    color: #000
}
.availablePage:hover h2 a.availableLayout:hover h2 {
    color: blue
}
.hoverHint {
    display: none
}
.availablePage:hover .hoverHint,
a.availableLayout:hover .hoverHint,
.PageLayoutPanel .availableLayout.selected .hoverHint {
    display: inline;
    font-weight: normal;
    color: #7d7d7d
}
.pageLinkPanel .pageDescript {
    margin-left: 65px;
    width: 80%;
    display: block;
	list-style: none;
}
.pageDescript {
    font-size: 12px;
    line-height: 16px;
    color: #636363
}
.unavailablePage .pageType {
    color: #636363
}
.unavailablePage .pageDescript {
    font-style: italic
}
.linked {
    color: #636363;
    text-decoration: underline;
    cursor: pointer
}
.blogPage {
    background-image: url(images/blog-active-32.png)
}
.courseworkPageInactive {
    background-image: url(images/coursework-inactive-32.png)
}
ul.PageGroupListView {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0
}
ul.PageGroupListView li {
    display: block;
    margin: 0
}
ul.PageGroupListView li a {
    background-position: 10px 10px;
    background-repeat: no-repeat
}
ul.PageGroupListView h2 {
    color: #004a80;
    line-height: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0
}
ul.PageGroupListView .pageName {
    text-decoration: underline
}
ul.PageGroupListView .pageDescript {
    font-size: 11px;
    line-height: 16px;
    color: #636363
}
.NoPagesPanel {
    padding: 20px
}
.NoPagesPanel h2 {
    font-size: 20px
}
.NoPagesPanel p {
    margin: 10px
}
.NoPagesPanel a {
    color: #004a80!important;
    margin-left: 10px
}
.bottomBackButton {
    color: #004a80!important;
    margin-left: 35px;
    margin-top: 20px
}
.MainGroupListings, .pageList {
	margin: 0;
	padding: 0;
}
.MainGroupListings .header {
    font-size: 14px
}
.AddPageHeader span {
    margin-left: 25px
}
.AddPageHeader a {
    float: right;
    margin-right: 20px
}
.portlet.Customize.AddNewPage {
    border: none
}
.AddPageHeader p {
    color: gray;
    margin-left: 25px;
    margin-right: 100px
}
.AddPageHeader a {
    color: #004a80!important
}
.optionsTitle,
.optionsTitleDescription {
    font-size: 11px!important
}
.moreOptionsPanel {
    margin-left: 25px;
    margin-bottom: 35px
}
.moreOptionsPanel .groupItem {
    margin: 10px
}
.moreOptionsPanel span {
    font-size: 14px
}
.moreOptionsPanel .optionsHeader {
    border-top: 1px dashed #b5b5b5;
    color: gray;
    font-size: 11px;
    margin-top: 35px;
    padding-bottom: 5px;
    padding-top: 4px;
    display: block
}
.MainGroupListings .icon {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 24px;
    margin-right: 10px
}
.portlet.pageSettings,
.portlet.pageOptions,
.portlet.pageLayouts,
.portlet.pageAccess {
    border: none;
    background-color: #fff;
	margin: 0;
	padding: 0;
}
.pageLayouts {
	padding: 0;
	margin: 0;
}
.pageAccessPanel .backButton,
.pageOptionsPanel .backButton {
    color: #004a80;
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    text-decoration: underline
}
.pageAccessPanel #CP_V_backtoAccess.backButton,
.pageOptionsPanel #CP_V_backtoOptions.backButton {
    margin-bottom: 20px
}
.pageAccessPanel .backButton:hover {
    cursor: pointer
}
.settingsPanel .saveCancelButtonContainer,
.preferencesPanel .saveCancelButtonContainer {
    padding: 35px 0 35px 0
}

.settingsPanel .saveButtonContainer,
.preferencesPanel .saveButtonContainer,
#AccessiblityPopup .saveButtonContainer {
    float: left;
    background-color: #d6e2fb;
    padding: 15px;
    border: 1px solid #39527b
}
.settingsPanel .popupBox .cancelButtonContainer,
.preferencesPanel .popupBox .cancelButtonContainer,
#AccessiblityPopup .cancelButtonContainer {
    background-color: #efefef;
    padding: 15px;
    border-top: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca
}
.settingsPanel.popupBox .modalPopup,
.preferencesPanel.popupBox .modalPopup,
.pageAccessPanel .popupBox .modalPopup,
.pageOptionsPanel .popupBox .modalPopup {
    background-color: #bababa
}
.settingsPanel .modalDiv,
.preferencesPanel .modalDiv,
.pageAccessPanel .popupBox .modalDiv {
    padding: 3px;
    border: 1px solid #000;
    background-color: #fff
}
.settingsPanel .modalHeadingImg,
.preferencesPanel .modalHeadingImg,
.pageAccessPanel .popupBox .modalHeadingImg,
.pageOptionsPanel .popupBox .modalHeadingImg,
.ui-dialog-content .modalHeadingImg {
    float: right;
    margin: 3px;
    margin-left: 10px;
    width: 13px;
    height: 13px;
    background-image: url("../Images/PortletImages/Icons/16/close-popup.png");
    cursor: pointer
}
.settingsPanel .popupBox .modalHeading .description,
.preferencesPanel .popupBox .modalHeading .description {
    font-weight: normal;
    margin-left: 20px
}
.settingsPanel .popupBox .modalHeading .title,
.preferencesPanel .popupBox .modalHeading .title {
    font-size: 1.3em;
    margin-left: 20px
}
.settingsPanel .modalHeading .icon,
.preferencesPanel .modalHeading .icon {
    background-image: url("../Images/PortletImages/Icons/16/cog_edit.png");
    float: left;
    height: 16px;
    margin-left: 5px;
    width: 16px;
    margin-top: 3px
}
.pageAccessPanel .popupBox .accesstitle {
    margin: 20px 0 10px 20px;
    font-size: 1.4em
}
.settingsPanel .pActionsTransp,
.preferencesPanel .pActionsTransp {
    padding: 0
}
.pageAccessPanel .popupBox .description {
    margin: 0 0 10px 20px
}
.settingsPanel .description,
.preferencesPanel .description {
    margin-left: 10px;
    margin-bottom: 0
}
.settingsPanel .popupBox .popupBox,
.preferencesPanel .popupBox .popupBox {
    background-color: #efefef;
    border: 1px solid #b2b2b2;
    margin: 5px
}
.PageLayoutPanel ul.pageLayouts li {
    list-style: none;
}
.PageLayoutPanel .devider {
    margin-bottom: 0!important;
    margin-left: 10px!important
}
.PageLayoutPanel .availableLayout {
    min-height: 52px
}
.PageLayoutPanel .custom-layout .availableLayout.one_column.readonly .hoverHint {
    display: inline;
    font-weight: normal;
    color: #7d7d7d
}
.PageLayoutPanel .custom-layout .availableLayout.one_column.readonly .layoutType {
    color: #000
}
.PageLayoutPanel .custom-layout .availableLayout.one_column.readonly {
    height: 50px;
    margin: 20px 0 0 0;
    width: 589px;
    border: 1px solid #015627;
    background-color: #f0ffd9
}
.PageLayoutPanel .custom-layout .pre-title {
    color: #b5b5b5;
    font-size: 11px;
    margin-left: 10px
}
.PageLayoutPanel .custom-layout .title {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px 15px
}
.PageLayoutPanel .custom-layout .ValidationError {
    display: block;
    margin-left: 15px
}
.PageLayoutPanel .custom-layout input[type='text'] {
    width: 240px;
    margin-left: 15px
}
.PageLayoutPanel .custom-layout input[type='submit'] {
    padding: 2px 15px 2px 15px;
    color: #fff;
    background-color: #002057;
    border: 1px solid #00164f;
    border-radius: 6px;
    cursor: pointer
}
.PageLayoutPanel .availableLayout.one_column.readonly {
    padding: 5px 0 5px 10px;
    border: 1px solid #003663;
    background-color: #e5eefe;
    text-decoration: none;
    margin-left: 20px;
    width: 450px
}
.PageLayoutPanel .availableLayout.one_column.readonly h2 {
    margin: 0
}
.PageLayoutPanel .availableLayout.one_column.readonly .description {
    margin-bottom: 17px
}
.PageLayoutPanel .availableLayout.selected {
    Border: 1px solid #015627;
    background-color: #f0ffd9;
    cursor: none
}
.PageLayoutPanel a.availableLayout .description {
    color: #000
}
.PageLayoutPanel a.availableLayout h2 {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 0
}
.PageLayoutPanel .availableLayout .icon {
    height: 52px;
    width: 54px;
    float: left;
    margin-right: 10px
}
.PageOptionsInnerBody .layoutOptions .content.one_column,
.PageLayoutPanel .availableLayout.one_column .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-1.gif)
}
.PageOptionsInnerBody .layoutOptions .content.two_column_rwide,
.PageLayoutPanel .availableLayout.two_column_rwide .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-1.gif)
}
.PageOptionsInnerBody .layoutOptions .content.three_column_rwide,
.PageLayoutPanel .availableLayout.three_column_rwide .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-1.gif)
}
.PageOptionsInnerBody .layoutOptions .content.two_column_even,
.PageLayoutPanel .availableLayout.two_column_even .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-2.gif)
}
.PageOptionsInnerBody .layoutOptions .content.two_column_lwide,
.PageLayoutPanel .availableLayout.two_column_lwide .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-3.gif)
}
.PageOptionsInnerBody .layoutOptions .content.three_column_mwide,
.PageLayoutPanel .availableLayout.three_column_mwide .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-6.gif)
}
.PageOptionsInnerBody .layoutOptions .content.side_by_side_with_header,
.PageLayoutPanel .availableLayout.side_by_side_with_header .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-2a.gif)
}
.PageOptionsInnerBody .layoutOptions .content.blog_style_header,
.PageLayoutPanel .availableLayout.blog_style_header .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-3a.gif)
}
.PageOptionsInnerBody .layoutOptions .content.three_column_even,
.PageLayoutPanel .availableLayout.three_column_even .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-4.gif)
}
.PageOptionsInnerBody .layoutOptions .content.three_column_lwide,
.PageLayoutPanel .availableLayout.three_column_lwide .icon {
    background-image: url(/ICS/UI/Common/Images/layout_icon-5.gif)
}
.PageLayoutPanel .header {
    background-color: #fff;
    font-weight: normal;
    margin: 0 0 15px 15px
}
.PageLayoutPanel .header .title {
    display: block;
    margin: 10px 0 0 0;
    font-size: 20px
}
.PageLayoutPanel .description {
    margin: 5px 0 0 2px;
    display: block
}
.PageLayoutPanel .description a {
    color: #0b4981;
    text-decoration: underline;
    cursor: pointer
}
.PageLayoutPanel .backButton {
    margin-top: 20px;
    display: block;
    margin-left: 10px;
    color: #0b4981
}
.pageAccessPanel .popupBox .topBackButton {
    color: #004a80;
    float: right;
    margin-right: 20px
}
.pageOptionsPanel .PageOptionsInnerBody .DefaultPage .title {
    font-size: 1.2em
}
.pageOptionsPanel .PageOptionsInnerBody .pageOptionsLinks .maxPortletsReached {
    display: block;
    font-size: 16px
}
.pageOptionsPanel .PageOptionsInnerBody .pageOptionsLinks {
    margin-left: 10px
}
.pageOptionsPanel .PageOptionsInnerBody .pageOptionsLinks a {
    font-size: 1.1em
}
.pageOptionsPanel .PageOptionsInnerBody .pageOptionsLinks .title {
    font-size: 12px;
    color: #b2b2b2
}
.pageOptionsPanel .PageOptionsInnerBody .actions {
    margin-left: 5px;
    width: 141px
}
.settingsPanel a,
.preferencesPanel a,
.pageOptionsPanel .PageOptionsInnerBody a,
#editPortletPopup .Content a,
#DeleteShortcutPopup .Content a,
#closePopupLink {    
    display: block;
    cursor: pointer;
    margin: 10px 0 10px 0;
    text-decoration: underline
}

.pageOptionsPanel .PageOptionsHeader a {
    float: right;
    margin-right: 20px
}
.pageOptionsPanel .PageOptionsHeader .preTitle {
    font-size: 1.3em;
    margin-left: 20px
}
.pageOptionsPanel .PageOptionsHeader .title {
    display: block;
    font-size: 1.3em;
    margin: 20px 0 0 20px
}
.pageOptionsPanel .PageOptionsHeader .description {
    display: block;
    margin: 5px 5px 0 20px;
    width: 95%;
    max-width: 1300px;
    padding-left: 5px
}

.pageOptionsPanel .PageOptionsBody {
    border: none;
    background-color: #fff!important;
    padding: 20px
}
.pageOptionsPanel .PageOptionsBody .devider,
#editPortletPopup .devider,
#DeleteShortcutPopup .devider,
.PageLayoutPanel .devider {
    border-top: 1px dashed #b5b5b5;
    margin: 10px 0 10px 0
}
.pageOptionsPanel .PageOptionsInnerBody {
    max-width: 950px
}
.pageOptionsPanel .PageOptionsFooter {
    padding: 20px 20px 0 10px
}
.pageOptionsPanel .actions .closeWindow {
    float: left;
    font-size: 1.1em;
    margin: 15px 0 0
}
.pageOptionsPanel .actions .deletePage,
#editPortletPopup .Content .deletePortlet,
#DeleteShortcutPopup .Content .deletePortlet {
    background-color: #fffee0;
    border: 1px solid #790000;
    color: #790000!important;
    margin: 20px 0 0;
    padding: 5px 15px
}
.pageOptionsPanel .actions .deletePage.disabled {
    text-decoration: none;
    cursor: none;
    color: gray!important;
    width: 230px
}
.pageOptionsPanel .emptyPageContainer {}.pageOptionsPanel .emptyPageContainer .title {}.pageOptionsPanel .emptyPageContainer .addFeature a {
    display: inline
}
.pageOptionsPanel #AddShortCutContainer a {
    display: inline;
    font-size: 1em;
    margin: 0
}
.pageOptionsPanel #AddShortCutContainer a:link {}.pageOptionsPanel #AddShortCutContainer a:visited {}.pageOptionsPanel .actions .deletePage .disabledDeleteButton {
    font-weight: bold;
    color: #000
}
.pageOptionsPanel .addNewPage span {
    font-size: 1.2em
}
.pageOptionsPanel .addNewPage a {
    display: inline
}
.pageOptionsPanel .layoutDescription {}.pageOptionsPanel .layoutDescription h2 {
    font-size: 1.5em;
    font-weight: normal
}
.pageOptionsPanel .layoutDescription p {
    max-width: 600px
}
.pageOptionsPanel .layout {
    background: url("../Images/pageLayout.png") 0 0 no-repeat;
    width: 100%;
    min-height: 55px;
    display: block;
    margin-bottom: 20px;
    margin-left: 5px
}
.pageOptionsPanel .layout.multiPorltet {
    background: 0 0 no-repeat
}
.pageOptionsPanel .layout.multiPorltet.readOnly {
    pointer-events: none;
    text-decoration: none
}
.pageOptionsPanel .layout.multiPorltet .title {
    display: block;
    font-size: 16px
}
.pageOptionsPanel .layout.multiPorltet .description {
    padding-left: 5px;
    display: block;
    font-size: 11px;
    margin: 0 0 15px 0
}
.pageOptionsPanel .layout.multiPorltet .description.shortucts {
    margin: 30px 0 5px 0
}
.pageOptionsPanel .layout.multiPorltet .pagePortlets {
    margin-left: 10px
}
.pageOptionsPanel .layout.multiPorltet .pagePortlets.shortcuts .shareFrom {
    display: inline
}
.pageOptionsPanel .layout.multiPorltet .pagePortlets.shortcuts div div a {
    display: inline;
    font-size: 12px;
    color: #000!important
}
.pageOptionsPanel .layout.multiPorltet .pagePortlets.shortcuts .linkDevider {
    font-size: 11px;
    margin-right: -5px
}
.pageOptionsPanel .layout.multiPorltet .pagePortlets.shortcuts .portletType {
    display: inline
}
.pageOptionsPanel .layout.multiPorltet .pagePortlets.shortcuts a:link {
    color: #000!important
}
.pageOptionsPanel .layout.multiPorltet .pagePortlets .portletDisplayName {
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    font-size: 14px;
    color: #000;
    display: inline;
    margin: 0 5px 0 0
}
.pageOptionsPanel .layout.multiPorltet .pagePortlets .portletType {}.pageOptionsPanel .outsidePortal {}.PageOptionsInnerBody .layoutOptions .title {
    font-size: 16px;
    display: block;
    margin: 0 0 10px 0
}
.PageOptionsInnerBody .layoutOptions .content {
    background: url("../Images/layout_icon-2.gif") 0 0 no-repeat;
    padding-left: 60px;
    margin-left: 5px;
    padding-bottom: 20px
}
.PageOptionsInnerBody .layoutOptions .content span {
    display: block
}
.PageOptionsInnerBody .layoutOptions .content .portletType {
    font-size: 14px;
    font-weight: bold
}
.PageOptionsInnerBody .layoutOptions .content .description {
    width: 300px;
    margin-top: 5px
}
.PageOptionsInnerBody .layoutOptions {
    margin-top: 40px
}
.PageOptionsInnerBody .layoutOptions .content .layoutLinks {}.PageOptionsInnerBody .layoutOptions .content .layoutLinks li {}.PageOptionsInnerBody .layoutOptions .content .layoutLinks li>a {
    margin: 10px 0 0 0
}
.pageOptionsPanel .actions {
    margin-top: 20px
}
.pageOptionsPanel .modalHeading {
    float: left;
    background-color: #fff!important;
    font-weight: normal!important
}
.pageOptionsPanel .modalHeading span {
    display: block;
    padding-left: 20px
}
.pageOptionsPanel .modalHeading .preTitle {}.pageOptionsPanel .modalHeading .title {
    font-size: 1.5em;
    padding-bottom: 5px
}
.pageOptionsPanel .modalHeading .description {}.pageOptionsPanel .pageRenaming {
    margin-bottom: 20px
}
.pageOptionsPanel .pageRenaming .outsidePortal {
    margin-left: 5px;    
    cursor: pointer;
    text-decoration: underline
}
.pageOptionsPanel .pageRenaming .notDefaultPage {
    margin-left: 5px
}
.pageOptionsPanel .pageRenaming .DefaultPage {
    margin-left: 5px;
    max-width: 600px
}
.pageOptionsPanel .pageRenaming .content {
    padding-left: 5px
}
.pageOptionsPanel .pageRenaming .content .validator {
    display: inline;
    color: red
}
.pageOptionsPanel .pageRenaming .title {
    font-size: 16px;
    margin: 10px 0 10px 0
}
.pageOptionsPanel .pageRenaming span {
    display: block
}
.pageOptionsPanel .pageRenaming input {
    border: 1px solid gray;
    text-decoration: none;
    padding: 2px
}
.pageOptionsPanel .pageRenaming .renameButton {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px 3px 3px 3px;
    font-size: 1.1em;
    margin-left: 40px;
    padding: 1px 20px;
    text-decoration: none
}
.pageOptionsPanel .pageRenaming .renameButton:hover {
    background-color: #d6e2fb;
    border: 1px solid #39527b
}
.pageOptionsPanel .homePage {
    margin-top: 30px;
    margin-bottom: 30px
}
.pageOptionsPanel .homePage a {
    display: inline;
    margin-left: 0;
    font-size: 14px
}
.pageOptionsPanel .homePage p {
    margin: 0;
    max-width: 600px
}
.pageOptionsPanel .homePage p a {
    font-size: 1em
}
.pageOptionsPanel .homePage span {
    font-size: 14px;
    display: inline
}
.pageAccessPanel .popupBox .modalHeading {
    width: 98%
}
.pageAccessPanel .popupBox .modalHeading .backButton {
    margin-top: 0
}
.settingsPanel .NoSettingsScreen,
.preferencesPanel .NoSettingsScreen {
    margin: 25px;
    font-size: 13px
}
.settingsPanel .portletSelection,
.preferencesPanel .portletSelection {
    width: 600px;
    border: 1px solid #479997;
    background-color: #f0f6ff;
    margin: 10px 0 0 25px;
    padding: 20px
}
.settingsPanel .portletSelection span,
.preferencesPanel .portletSelection span {
    display: block
}
.settingsPanel .portletSelection select,
.preferencesPanel .portletSelection select {
    margin-top: 10px;
    display: block;
    width: 200px
}
.settingsPanel a,
.preferencesPanel a {
    margin-left: 20px
}
.settingsPanel .popupBox .modalHeading,
.preferencesPanel .popupBox .modalHeading {
    padding: 3px;
    background-color: #fff
}
.settingsPanel .popupBox .modalHeading a,
.preferencesPanel .popupBox .modalHeading a {
    float: right;
    margin-right: 20px
}
.settingsPanel .popupBox .innerModal,
.pageOptionsPanel .innerModal,
.preferencesPanel .popupBox .innerModal {
    border: none;
    background-color: #fff!important
}
.pageAccessPanel .popupBox .innerModal,
.preferencesPanel .popupBox .innerModal {
    border: none;
    max-width: 960px;
    background-color: #fff;
    padding-left: 20px
}
.modalBackground {
    background-color: gray;
    filter: alpha(opacity=70);
    opacity: .7
}
.settingsPanel .popupBox .innerModal .portlet,
.preferencesPanel .popupBox .innerModal .portlet {
    background-color: #fff!important;
    border: none!important
}
.settingsPanel .popupBox .portletSectionJump,
.settingsPanel .popupBox .portletSectionJump dd a,
.settingsPanel .popupBox .portletSectionJump dd,
.settingsPanel .popupBox .dd.selected,
.settingsPanel .popupBox .portletnavtabs,
.settingsPanel .popupBox .hint p,
.settingsPanel .popupBox .pSection p,
.settingsPanel .popupBox .hint,
.preferencesPanel .popupBox .portletSectionJump,
.preferencesPanel .popupBox .portletSectionJump dd a,
.preferencesPanel .popupBox .portletSectionJump dd,
.preferencesPanel .popupBox .dd.selected,
.preferencesPanel .popupBox .portletnavtabs,
.preferencesPanel .popupBox .hint p,
.preferencesPanel .popupBox .pSection p,
.preferencesPanel .popupBox .hint {
    display: none
}
.settingsPanel .popupBox .pSection,
.preferencesPanel .popupBox .pSection {
    margin: 0
}
.settingsPanel .popupBox div.modalButtons,
.preferencesPanel .popupBox div.modalButtons,
#AccessiblityPopup div.modalButtons {
    background-color: #efefef;
    margin: 20px;
    width: 650px
}
.settingsPanel .popupBox .modalAddEdit,
.preferencesPanel .popupBox .modalAddEdit {
    padding: 10px
}
.rssReaderPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/feed.png)
}
.contentImportPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/course_content_import_32.png)
}
.learningToolsPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/measure.png)
}
.rosterPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/book_addresses.png)
}
.courseOrganizerPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/course-organizer-32.png)
}
.chatPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/user_comment.png)
}
.calendarPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/calendar.png)
}
.free-formContentPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/course_content_import_32.png)
}
.gradebookPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/gradebook_32.png)
}
.attendancePage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/attendance_32.png)
}
.courseWorkPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/coursework_32.png)
}
.handoutsPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/handouts_32.png)
}
.blogPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/blogs_news_32.png)
}
.formsPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/forms_32.png)
}
.bookmarksPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/bookmarks_32.png)
}
.forumsPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/forums_32.png)
}
.courseInfoPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/course-info-32.png)
}
.readingsPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/readings_32.png)
}
.onlineMeetingPage .icon {
    background-image: url(/ICS/UI/Common/Images/PortletImages/Icons/32/meeting-32.png)
}
.AvailablePortlets {
    color: red;
    width: 100%
}
.AvailablePortlets tr {
    font-size: large;
    height: 35px
}

.ExpandablePanel {
	cursor: pointer;
	text-decoration: underline;
	color: lightgray;
	font-size: small;
}
#saveRearange {
	margin: 10px;
	color: #FFF;
}
#cancelRearange {
	padding: 6px;
	color: #FFF !important;
	text-decoration: none !important;
}

/*PROXY LOGIN PORTLET*/
#bcPLDefaultView ul {
	clear: both;
}

/*SITEMANAGER STYLING*/

#PORTLETGRID > div.pColumn.adminPortlet > div.portlet > div.pContent.SiteManager > div >  table tr td:nth-child(2) {
	text-align: right;
}

/*Dumb stuff that should never have to be corrected*/
[id$="_lblAlert"], [id$="_hntMessage"] p:first-child {
	padding: 15px 0;
	display: block;
}
[id$="_hntMessage"] p:first-child, .pt_CourseSchedulesBYUI table > tbody > tr:nth-child(3) > td > div > p:nth-child(1) {
	font-size: large;
	font-weight: bold;
}
.pt_TransferCourses.pi_Transfer_Courses_BYUI table tr{
	padding: 10px 0;
	display: block;
}
.pt_AdviseeRosterBYUI.pi_Advisee_Roster > table tr td {
	border: none;
}

/* .nav.nav-pills.nav-justified li.selected:before {
    box-shadow: 2px 0px 0 #FFF;
}
.nav.nav-pills.nav-justified li:before {
    left: -7px;
    border-top-right-radius: 6px;
    border-width: 1px 1px 0px 0px;
    box-shadow: 2px 0px 0 #ECECEC;
}
.nav.nav-pills.nav-justified li:before, .nav.nav-pills.nav-justified li:after {
    border: 1px solid #AAA;
    position: absolute;
    top: -1px;
    width: 6px;
    height: 6px;
    content: "";
} */
#quickLinks dt {
	text-indent: 17px;
	padding-top: 1px;
}
#quickLinks #myPages ul {
	margin: 0;
	padding: 0 0 0 15px;
}
#quickLinks dl.closed dt, #quickLinks dl.open dt {
    font-weight: bold;   
    cursor: pointer;
}
#quickLinks dl.closed dd {
	display: none;
}
#quickLinks dl.open dd {
    display: block;
}


#quickLinks dl.closed dt{background: url(images/plus.gif) no-repeat scroll 0 5px !important}

#quickLinks dl.open dt{margin-bottom:5px; background: url(images/minus.gif) no-repeat scroll 0 5px !important}

header .desktop-search {
	margin-right: 0px;
	width: 37%;
}

#headerTabs li {
	list-style: none;
}
#headerTabs li.selected {
    /* border: 1px solid #AAA !important; */
    /* background: #D1D1D1; */
    /* background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%); */
    /* background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%); */
    /* display: inline-block; */
    /* position: relative; */
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF !important;
    /* text-shadow: 0 1px #FFF !important; */
    /* margin: 0 -5px; */
    /* padding: 0 30px; */
}
#headerTabs li.selected a {
	border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

#moreDropdown ul.dropdown-menu {
	width: 
}

#moreDropdown li {
	font-size: 13px !important;
}

#moreDropdown li>a:hover {	
	color: #FFF;
	background-color: #0076B6;
}

#moreDropdown li.selected {
	border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none !important;
}

#machineName {
	background: #000;
}
#ProxyLoginLinks li {
    padding: 5px;
	height: auto !important;
}

[id$="_GraduationApplication"] > div.pContent.GradApp > div > fieldset h5 {
	padding: 10px 0;
}

.pt_GraduationApplication .GradApp div.pSection input, .pt_GraduationApplication .GradApp div.pSection select {
	margin: 5px 0px 5px 15px;
}

[id$="_GraduationApplication"] > div.pContent.GradApp > div > fieldset > div:nth-child(6) > table > tbody tr td input,
[id$="_GraduationApplication"] > div.pContent.GradApp > div > fieldset > div:nth-child(6) > table > tbody tr td select {
	margin: 5px 0px 5px 15px !important;
}

td[id$="_tdAddDegApp"] + td { padding: 10px; font-size: 2em; }

.capGownInfo h5{ margin-top: 1.5em; }

/*Overrid*/
.addLink {
    background-image: url(../../../../ui/common/images/portletimages/icons/add.gif);
    background-position: 5% 50%;
    background-repeat: no-repeat;
    padding-left: 28px;
    margin: 0;
    margin-right: 15px;
}

.regButtonWrapper a span {
	/* display: block; */
}

.studentList ul {
	padding: 0px;
}

/* [id$="_tabBiographic_tblBiographicLeft"] tr, [id$="_tabBiographic_tblBiographicLeft"] th, [id$="_tabBiographic_tblBiographicLeft"] td {
	display: block;
	margin-bottom: 10px;
}

[id$="_tabBiographic_tblBiographicLeft"] tr {
	padding: 10px;
}
 */

.tabbox > table table td a { float: left;}
.ActiveDates br { display: none; } 
.ActiveDates { float: right; } 

[id$="_dgResults"] li { list-style: none; }
[id$="_dgResults"] img, [id$="_imgPhoto"] { transition: all .2s ease-in-out; }
[id$="_dgResults"] img:hover, [id$="_imgPhoto"]:hover { transform: scale(4.1); -webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;}

.table.borderless>thead>tr>th, .table.borderless>thead>tr>td, .table.borderless>tbody>tr>th, .table.borderless>tbody>tr>td, .table.borderless>tfoot>tr>th, .table.borderless>tfoot>tr>td { border: none !important; }
.transparent { background-color: transparent !important; }



[id$="_pnlAdminPage"] .pSection, [id$="_divEditOrAdd"] { border-bottom: 1px solid lightgray; padding-bottom: 5px; margin-bottom: 15px;}


#Table1 > tbody > tr td.header {
	font-size: large;
	font-weight: bold;
}

/*Transcript Request Upload section*/
[id$="_pnlUploadFilesNewMode"] ul li {
	margin:5px 0;
}

[id$="_ggCourses"]] tr td ul {
	margin: 0;
	padding: 0;
}	
#pg0_V_ggCourses > tbody > tr > td ul {
	
	margin: 0;
	padding: 0;
}

#pg0_V_ggCourses > tbody > tr > td ul li {
	
	list-style: none;
}
.wysiwygtext {
	padding: 10px;
}
#divElementContent {
	margin-bottom: 1.5em;
}
.welcomeNamePage {
	clear: both;
}

.mobileButton.navbar-toggle {
	float: left !important;
    margin-left: 5px !important;
	padding: 6px;
	margin: 0;
	border: 0;
}

.mobileButton.navbar-toggle img {
	max-height: 25px;
}

#Table2 select {
	width: 100%;
}

.plusminus {
	width: 9px !important;
	height: 9px !important;
	max-width: 9px !important;
}
.DetailsImageBoxImage img {
	width: 119px !important;
	height: 120px !important;
	max-width: 119px !important;
}

@media
only screen and (max-width: 760px)  {
	
	.nav>li>a {
		position: relative;
		display: inline;
		float: left;
	}
	

	
	
}
/* @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	#portlets { clear: both; }
	
	.top-message h1 {
		font-size: 2em !important;
	}

	#portlets { padding: 0 !important; }
	TOP NAVIGATION DROPDOWN
	
	#headerTabs {
		width: 90%;
		float: right;
		margin: 0;
		margin-bottom: 1.5em !important;
		
	}
	.sideBarNav {
		width: 10% !important;
		float: right !important;
		min-height: 39px;
	}
	
	#headerTabs li.selected {
		border: 0 !important;
		
		
		border-bottom-left-radius: 0px !important; 
		border-bottom-right-radius: 0px !important; 
		box-shadow: 0 0 0 0!important; 
		text-shadow: 0 1px #FFF !important; 		
	}
	
	#headerTabs li {		
		text-align: center;
		float: left !important;
		width: 50%;
		margin: 0;
		padding: 0;
		border: 0;
	}
	#headerTabs li a {		
		margin-bottom: 0 !important;
	}
	#moreDropdown ul li a {
		padding: 10px 0;		
	}
	
	#boot-wrapper {
		margin: 0;
		padding: 0;
	}
	
	#errorMessage {
		clear: both;
	}
	
	tr.buttonBar td {
	width: auto !important;
	}
	
	.navbar {
		margin-bottom: 0 !important;
	}
	
[id$="_divTermInfo"] table, [id$="_divTermInfo"] thead, [id$="_divTermInfo"] tbody, [id$="_divTermInfo"] th, [id$="_divTermInfo"] td, [id$="_divTermInfo"] tr, #Positioning *, #tblTools *, [id$="_divHiddenForRegAgreement"] + [id$="_divDropDowns"] *, .pt_CourseSchedulesBYUI .pContent > div > table *, [id$="_divCourseDetails"] table *, [id$="_tblPortletSettings"] *, [id$="_divTop"] table *, [id$="_CourseAuthorizationBYUI"] > div.pContent.CourseAuthorization > div > div:nth-child(5) > table:nth-child(1)
	{
	
		display: block;
	}
	
	[id$="_gbtnRefresh"] {
		position: relative !important;
	}
	
	[id$="_divHiddenForRegAgreement"] + [id$="_divDropDowns"] [id$="_hntMessage"] > table > tbody > tr > td:nth-child(1) {
		font-weight: bold;
		padding: 0;
	}	
	
	[id$="_divHiddenForRegAgreement"] + [id$="_divDropDowns"] [id$="_hntMessage"] > table > tbody > tr > td:nth-child(2) {
		margin-bottom: 1.5em;
		border-bottom: 1px solid lightgray !important;
	}
	

	
	Force table to not be like tables anymore
	table, thead, tbody, th, td, tr { 
		
		
		
	}
	
	select, input[type="text"], .btn, .forminput {
		width: 100%;
	
	}
	li.selected {
		border: 0 !important;
		box-shadow: 0 0 0 0 !important;
	}
	
	
	
}
 */
 table[id$="_BookmarkGrid"].table-striped>tbody>tr:nth-of-type(odd) { background: transparent; }
 tr.buttonBar td { border:none; }
.buttonBarCentered { text-align: center; }
.userOptions.dropdown-menu { width: 100%; }
.btn-success, .btn-warning, .btn-success:hover, .btn-warning:hover { color: #FFF; }
.navbar-right ul { margin-right: 0px !important; }
.navbar-right ul li a span.caret { margin-left: 5px !important; }
.container { width: 970px !important; min-width: 970px !important; max-width: 970px !important; }

/* table > thead > tr:nth-child(1) > td { border: 0 !important; } */
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td { border: 0 !important; }
.table-bordered { border-color: transparent !important; }

.g-recaptcha { margin-bottom: 1.5em; }

.accessActions {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.accessActions.canAccess {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

span#CP_V_lblMsg { 
	display: block; 
	padding: 20px; 
}

h4.ng-scope { 
	border-bottom: 3px dotted lightgray !important;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
DIV.ng-scope {
	margin-bottom: 1.5em;
}

.alert.alert-danger.ng-binding:empty {
	display: none;
}
.alert.alert-danger.ng-binding {
    margin: 15px 0px;
}
div.portalPersonalInfo.ng-scope > table > tbody > tr
{
	padding: 5px 10px 5px 0px;
	display: block;
}
div.portalPersonalInfo.ng-scope > table > tbody > tr td
{
	padding-right: 10px;
	
}
div.portalPersonalAddresses.ng-scope > div:nth-child(2) > form > table > tbody > tr > td > input{
	margin-bottom: 1em;
}
div.portalPersonalPhoneNumbers.ng-scope > div > div > div.ng-scope > form > input:first-child,
div.portalPersonalInfo.ng-scope > table > tbody > tr > td:nth-child(2) > div.ng-scope > form > input
{
	display: block;
}

div.portalPersonalAddresses.ng-scope > div:nth-child(2) > form > table > tbody > tr:nth-child(6) > td:nth-child(2) > div:nth-child(1) > a,
div.portalPersonalPhoneNumbers.ng-scope > div > div > div.ng-scope > form > a,
div.portalPersonalInfo.ng-scope > table > tbody > tr > td:nth-child(2) > div.ng-scope > form > span:nth-child(2) > a
{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	
	/*Add btn-xs styles*/
	margin-top: 14px;
	margin-bottom: 14px;
	top: 0;
	padding: 1px 5px;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
div.portalPersonalAddresses.ng-scope > div:nth-child(2) > form > table > tbody > tr:nth-child(6) > td:nth-child(2) > div:nth-child(1) > a:nth-child(1),
div.portalPersonalPhoneNumbers.ng-scope > div > div > div.ng-scope > form > a:nth-child(2),
div.portalPersonalInfo.ng-scope > table > tbody > tr > td:nth-child(2) > div.ng-scope > form > span:nth-child(2) > a:nth-child(1)
{
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
div.portalPersonalAddresses.ng-scope > div:nth-child(2) > form > table > tbody > tr:nth-child(6) > td:nth-child(2) > div:nth-child(1) > a:nth-child(2),
div.portalPersonalPhoneNumbers.ng-scope > div > div > div.ng-scope > form > a:nth-child(3),
div.portalPersonalInfo.ng-scope > table > tbody > tr > td:nth-child(2) > div.ng-scope > form > span:nth-child(2) > a:nth-child(2)
{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

/*END PROFILE TAB*/

/*Transcript Request Page*/
div.cal > span.date > label.screenReaderText,
div.cal > span.date > input
{
	margin-right: 5px;
}

div.cal > span.date > img
{
	cursor: pointer;
}

div.cal iframe 
{
	visibility: hidden;
}
.pt_LeadershipTranscript table td
{
	text-align: left !important;
}

.multiUp p input[type="file"]
{
	display: inline-block !important;
}

table[id$="_tblExportLinks"] + table[id$="_ggClassList"] td
{
	vertical-align: middle !important;
	white-space: normal !important;
}

td { vertical-align: middle !important; }

img.plusminus { cursor: pointer; }

.wysiwygtext:empty { padding:0;}
/*CSS for custom error message*/

/* .reginfo, .regsuccess, .regwarning, .regerror, .regvalidation {
border: 1px solid;
margin: 10px 0px;
padding:25px 10px 25px 75px;
background-repeat: no-repeat;
background-position: 10px center;
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
font-weight: bold;
}
.reginfo {
color: #00529B;
background-color: #BDE5F8;
background-image: url('/ics/clientconfig/htmlcontent/images/info.png');
}
.regsuccess {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('/ics/clientconfig/htmlcontent/images/success-48.png');
}
.regwarning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('/ics/clientconfig/htmlcontent/images/warning.png');
}
.regerror {
color: #D8000C;
background-color: #FFBABA;
background-image: url('/ics/clientconfig/htmlcontent/images/error-48.png');
} */

/*CSS for custom error message*/

.reginfo, .regsuccess, .regwarning, .regerror, .regvalidation {
border: 1px solid;
margin: 10px 0px;
padding:25px 10px 25px 75px;
background-repeat: no-repeat;
background-position: 10px center;
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
font-weight: bold;
}
.reginfo {
color: #00529B;
background-color: #BDE5F8;
background-image: url('/ics/clientconfig/htmlcontent/images/info.png');
}
.regsuccess, .regerror {
/*Temporarily changed*/	
/*color: #4F8A10;
background-color: #DFF2BF;*/
color: #000;
background-color: #ffff00;
/*Temporarily removed*/
/*background-image:url('/ics/clientconfig/htmlcontent/images/success-48.png');*/
}
.regwarning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('/ics/clientconfig/htmlcontent/images/warning.png');
}
/*Temporarily moved to .regsuccess*/
/* .regerror {
color: #D8000C;
background-color: #FFBABA;
background-image: url('/ics/clientconfig/htmlcontent/images/error-48.png');
} */


/* .navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
} */